body {
    margin:0;
    font-family: 'Segoe UI', sans-serif;
    background:#0b0f19;
    color:#e5e7eb;
}

.container {
    max-width:1200px;
    margin:auto;
    padding:40px 20px;
}

.card {
    background:#111827;
    padding:15px;
    border-radius:12px;
    border:1px solid #1f2937;
    transition:0.3s;
}

.card:hover {
    transform: translateY(-5px);
    border-color:#2563eb;
}

button {
    background:#2563eb;
    border:none;
    padding:10px 15px;
    color:white;
    border-radius:6px;
    cursor:pointer;
}

input {
    background:#111827;
    border:1px solid #1f2937;
    color:white;
    padding:10px;
    border-radius:6px;